<H1>Joke Details</H1>
<mat-dialog-content>
    <mat-card class="joke-card">
        <mat-card-header>
          <mat-card-title>
              {{joke.setup}}
              {{joke.joke}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="pad">
              Category: {{joke.category}}
          </div>
          <div class="pad">
              Type: {{joke.type}}
          </div>
          <div class="pad">
              Dellivery: {{joke.delivery}}
          </div>         

          <div>
            <mat-nav-list class="joke-list">
                <mat-list-item *ngFor="let flag of flags">
                        {{flag.nsfw}}
                        {{flag.religious}}
                </mat-list-item>
            </mat-nav-list>
            
          </div>

          <div>
            <mat-nav-list class="joke-list">
                <mat-list-item *ngFor="let jokeItem of jokesOfTypeSelected">
                    <div class="pad">
                        {{jokeItem.setup }}
                        {{jokeItem.joke}}
                    </div>   
                </mat-list-item>
            </mat-nav-list>

          </div>  


    
        </mat-card-content>
      </mat-card>      
</mat-dialog-content>
    
 <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="close()">Close</button>
</mat-dialog-actions>

