.joke-card {
    width: 800px;
    overflow: hidden !important;
}

.itemPadding
{
    padding-top: 3px;
    padding-left: 16px;
}

.flex-container { 
    display: flex;
}

.close-button{
    float: right;
    right:-654px;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
  }
  
  .close-icon:hover {
    transform: rotate(180deg);
  }
