<mat-list>
  <mat-list-item>
    <mat-checkbox value="flags.nsfw" [labelPosition]="'after'"
      >nsfw</mat-checkbox
    >
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox value="flags.religious" [labelPosition]="'after'"
      >religious</mat-checkbox
    >
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox value="flags.political" [labelPosition]="'after'"
      >political</mat-checkbox
    >
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox value="flags.racist" [labelPosition]="'after'"
      >racist</mat-checkbox
    >
  </mat-list-item>
  <mat-list-item>
    <mat-checkbox value="flags.sexist" [labelPosition]="'after'"
      >sexist</mat-checkbox
    >
  </mat-list-item>
</mat-list>
